@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --variable-name: value;
    --transition-speed: 600ms;
  }

:root{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 100%;
}
nav{
  box-shadow: 0px 2px 4px rgba(0,0,0,0.15), 
              0px 4px 8px rgba(0,0,0,0.15), 
              0px 8px 16px rgba(0,0,0,0.15), 
              0px 16px 32px rgba(0,0,0,0.15);
}
.nav-item:hover .navbar-nav{
  display: block  ;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0px;
}
.gradient-custom {
    /* fallback for old browsers */
    background: #667eea;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(102, 126, 234, 0.5), rgba(118, 75, 162, 0.5));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(102, 126, 234, 0.5), rgba(118, 75, 162, 0.5))
  }

  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: 15%;
  }

  .hero img {
    height: 20.5rem;
    width: 20.5rem;
    margin-top: 15px;
    border-radius: 5%;
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
  }

  .bio {
    width: 25rem;
    padding: 0.625rem;
    /* border-style: ridge; */
    border-radius: 6px;
    /* box-shadow: 0px 2px 15px 2px var(--primary-shadow); */
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
  }


.bio h1 {
    margin-bottom: var(--bottom-margin);
  }
  
  .bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
  }

  .more-about {
    background-color: var(--bg-color);
    padding: 1rem 6rem;
  }
  
  .more-about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
  }
  
  .more-about p {
    line-height: var(--line-height);
    padding: 0.4rem;
  }

  .skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
  }
  
  .skill-header {
    margin-bottom: 1rem;
  }
  
  .skills-wrapper img {
    padding: 1.25rem;
  }
  
  .icon {
    width: 11.875rem;
    height: 11.25rem;
  }

  .icon-card {
    background-color: #fff;
    /* border-style: outset; */
    border-radius: 11px;
    /* box-shadow: 0 3px 10px var(--secondary-shadow); */
    box-shadow: 0px 5px 10px 0px ;
    padding: 20px;
    margin: 10px;
  }
  .icon-card:hover{
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
  }

  .projects {
    background-color: var(--bg-color);
    padding: 32px 0;
    margin-top: 2rem;
  }

  .project-pic {
    width: 65%;
    height: 60%;
  }
  
  .projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .projects-title {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .project-container {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
  }

  .project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: var(--bottom-margin);
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

.project-card {
  background-color: #fff;
  height:fit-content;
  /* border-style: outset; */
  border-radius: 11px;
  /* box-shadow: 0 3px 10px var(--primary-shadow); */
  box-shadow: 0px 5px 10px 0px ;
  padding: 20px;
  margin: 10px;
}
.project-card:hover{
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.contact {
  margin-top: 2rem;
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  /* border: outset; */
  border-radius: 5px;
  /* box-shadow: 0 3px 10px var(--secondary-shadow); */
  box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
} 

.input-field::placeholder {
  padding: 0.5rem;
  color: var(--primary-color);
}
.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 2px groove var(--primary-color);
  border:groove;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}
.submit-btn:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
}
.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
}

.socicon {
  width: 2rem;
  height: 2rem;
}

footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}

.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 3rem;
  height: 3rem;
}

@media screen and (max-width: 720px) {
  /*changes reflects on screen with a width of 720px and below*/

  .hero {
    margin-top: -4rem;
    flex-direction: column;
    gap: 0;
  }

  .hero img {
        height: 37.5rem;
        width: 30rem;
    }

  .bio {
    margin-top: -7rem;
    width: 20.5rem;
  }
  .more-about {
    margin-top: 2rem;
    padding: 1rem 3.5rem;
  }

  .more-about h2 {
    text-align: center;
  }

  .more-about p {
    text-align: justify;
  }
  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }
  .projects-container {
    flex-direction: column;
  }

  .project-container {
    width: 20.875rem;
  }
  .contact-form-container {
    max-width: 23.75rem;
  }
  .collapse:hover{
    transition: var(--transition-speed);
  }
  .nabar-toggler{
    cursor:pointer;
    display: block;
  }
  .navbar-toggler:hover .navbar-nav{
    display: block;
    cursor:pointer;
  }
  .nav-item:hover .navbar-nav{
    display: block  ;
  }
  
  .dropdown:hover .dropdown-menu {
      display: block;
      margin-top: 0px;
  }

  
}
@media screen and (max-width: 420px) {
  .hero img {
    height: 37.5rem;
    width: 23rem;
  }

  .bio {
    width: 18.3rem;
  }

  .project-container {
    width: 17.875rem;
  }

  .contact-form-container {
    max-width: 17.75rem;
  }
} 